@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Delius+Swash+Caps&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    margin: 0;  
    padding: 0;
    font-family:Cormorant;
}

/* ------------- MAIN ----------------*/
.presentacion{
    display: flex;
    background-image: url("../img/fondo_uno.png");
    background-size: cover;
    height: 729px;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 60px 20px;
    justify-content: center;
}
.presentacion h1{
    font-size: 80px; 
    color: #F4F4F4; 
    margin-bottom: 20px;
}
.presentacion p{
    font-size: 24px; 
    color: #EDEDED;
    max-width: 700px;
    line-height: 1.6;
}

.venta {
    background-color: #D9D4C9;
    padding: 20px 40px;
    text-align: center;
}
.venta h2{
    font-size: 28px;
    margin-bottom: 20px;
    color: black;
}
.venta_cajas{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 25px;
    max-width: 1200px;
    margin: auto;
}
.venta_cajas div{
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow:0 4px 10px rgba(0, 0, 0, 0.1);
}
.venta_cajas img {
    width: 100%;
    height: auto;
    border-radius: 6px;
}
.precio{
    font-size: 18px;
    font-weight: bold;
    color: #333;
}
.añadir{
    border: 1px solid black;
    color: #333;
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: auto;
}

.nuestra_historia{
    background-image:url("../img/fondo_dos.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}
.nuestra_historia div {
    max-width: 800px;
    background: rgba(211, 207, 191, 0.85);
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.nuestra_historia h2 {
    font-size: 36px;
    color: #686736; 
    margin-bottom: 20px;
}
.nuestra_historia p {
    font-size: 18px;
    color: #4C4C3B; 
    line-height: 1.8;
}

.suscribete{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #93a267;
    color: #fbfbfb;
    padding: 40px;
    gap: 20px;
}
.suscribete div{
    flex: 1;
    text-align: left;
    max-width: 500px;
}
.suscribete h2{
    font-size: 87px;
    text-align: center;
}
.suscribete p{
    font-size: 30px;
    text-align: center;
}
.suscribete a{
    display: inline-block;
    background-color: transparent;
    color: #BE5A09;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}
.suscribete img {
    flex: 1;
    max-width: 50%;
    height: auto;
    border-radius: 10px;
}

footer {
    background-color: black; 
    color: #fff; 
    padding: 30px 50px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; 
}
footer section {
    flex: 1; 
    margin: 10px;
    min-width: 200px;
}
footer h2 {
    font-size: 16px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
footer ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}
footer ul li {
    margin-bottom: 8px;
}
footer a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}
footer a:hover {
    color: #93a267;
}

.venta{
    background-color: #93a26779;
}

.venta h2{
    font-size: 40px; 
    font-weight: bold; 
    color: #2d3e2d; 
    letter-spacing: 2px; 
    margin-bottom: 20px; 
}

.container img {
    width: 100%;
    border-radius: 10px;
    margin-top: auto;
}
.col-12.col-sm-6.col-md-4.col-lg-3 {
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.col-12.col-sm-6.col-md-4.col-lg-3:hover {
    transform: scale(1.08);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
.col-12.col-sm-6.col-md-4.col-lg-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}
.col-12.col-sm-6.col-md-4.col-lg-3 h3{
    font-size: 20px;
    font-weight: 900;
}

.añadir {
    border: 1px solid black;
    color: #272727;
    padding: 10px 20px;
    font-size: 15px;
    text-decoration: none;
    display: block;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.añadir:hover {
    background-color: #93a267;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
}
.descuento{
    background-color: #BE5A09;
    color: white;
    position: absolute;
    padding: 4px 8px;;
}
.macetas p{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.blog-section{
    background-color: #93a26779;
}
.blog-section h2{
    text-align: center;
    margin-bottom: 20px;
    color: black;
    padding: 20px;
}
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
}
.card-img-top {
    border-top: 15%;
    height: 200px;
    object-fit: cover;
}
.card-body {
    padding: 15px;
    background-color: #fff;
    border-radius: 20px;
}
.card-title {
    font-size: 25px;
    color: black;
    font-weight: bold;
    margin-bottom: 10px;
}
.card-text {
    font-size: 16px;
    color: black;
    font-weight: 700;
    margin-bottom: 10px;
}
.btn-leer {
    font-size: 0.875rem;
    text-transform: uppercase;
    color: #fff;
    background-color: #ee9024;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}
.btn-leer:hover {
    background-color: #27ae60;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.btn-leer:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(46, 204, 113, 0.5);
}

.tips_main{
    background-image: url(../img/suscrip.avif);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 60px 20px;
    min-height: 400px;
}
.tips {
    max-width: 800px;
    background: rgba(211, 207, 191, 0.85);
    padding: 30px;
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
}
.tips h2 {
    font-size: 36px;
    color: #686736; 
    margin-bottom: 20px;
    text-align: center;
}
.tips p {
    font-size: 18px;
    color: #4C4C3B; 
    line-height: 1.8;
    text-align: center;
}
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: auto;
}
.suscribete-pag {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}
.form-container form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}
.checkbox-container {
    grid-column: span 2;
    display: flex;
    align-items: center;
    gap: 10px;
}
button {
    grid-column: span 2;
    background: #1dc78a;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    margin-top: 10px;
}

button:hover {
    background: #17a673;
}